<!DOCTYPE html>
<html>
    <head>
        <title>test ejs</title>
        <link rel="stylesheet" href="/tree/public/stylesheets/styles.css">
    </head>
    <body>
        <h1>Hola mundo!</h1>
        <%- include("header"); %>
    </body>
</html>