#nombre{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    margin: 30px;
}

#headerNombre{
    display: flex;
    align-items: center;
}